body {
  color:black
  font-family: sans-serif;
  margin: 0;
}

header {
  background: #f5f5f5;
  padding: 10px;
}

.main-nav ul {
  list-style: none;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
}

figure {
  text-align: center;
}

figure img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
